.marquee {
  margin-top: 4.5rem;
  position: absolute;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  width: 100vw;
  max-width: 100%;
  padding: .5rem 0;
  font-size: 1rem;
  color: rgb(100, 44, 0);
  overflow: hidden
}
.track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
}
