.marquee {
  margin-top: 2rem;
  position: absolute;
  background-color: rgb(255 255 255 / 0.25);
  border-top: .2rem solid white;
  border-bottom: .2rem solid white;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  padding: .8rem 0;
  font-size: 1.5rem;
}
.content{
  color: white;
}
.track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
}
