.marquee{
  width: 100vw;
  max-width: 100%;
  margin-top: 2rem;
  position: absolute;
  background-color: black;
  padding: 1rem 0;
}
.animation {
  /* animation: marquee 15s linear infinite; */
}

@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
}
