body{
  background:#111011;
  color:white;
}
.sandwalker{
  display: block;
  white-space:nowrap;/*esto hace que el texto no se rompa por los espacios en blanco*/
  border-right:10px solid white; /*esto representa el puntero que muestra que se esta escribiendo*/
  width:14ch; /*este ancho debe ser igual al numero de caracteres que tenga nuestro texto*/
  animation: typing 3s 1 steps(14) , blink .3s infinite step-end alternate;
  overflow:hidden;
}
@keyframes typing {
  from {
    width:0;
    transition:1s;
  }
}
@keyframes blink {
  50% {border-color:transparent}
}

